.runner-state {
  padding: 6px 12px;
  margin-right: 10px;
  color: $white;

  &.runner-state-shared {
    background: $green-400;
  }

  &.runner-state-specific {
    background: $blue-400;
  }
}

.runner-status {
  &.runner-status-online {
    background-color: $green-600;
  }

  &.runner-status-offline {
    background-color: $gray-darkest;
  }

  &.runner-status-paused {
    background-color: $red-500;
  }
}
